body
{
    font-family: "Century Gothic";
    background-color: #4c413b;
    background-image: url("../images/back.png");
    padding: 0px;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.box_body
{
    border-style: solid;
    border-width: 1px;
    border-color: #826e65;
    background-color: #efe6cb;
    border-radius: 5px;
    box-shadow: 5px 5px  #adf442;
}

h4
{
    margin-top:6px;
}

.the_foot
{
    margin-top: 450px;
}

.bottom_pad
{
    padding-bottom: 15px;   
}

.menu_item
{
    min-height: 425px;    
}

.cart_form_margin
{
    margin-left: 25px;
    margin-right: 25px;
}
.button_position
{
    position: absolute;
    top: 350px;
    left: 50%;
    margin-left: -30px;    
}

.desc-pos
{
    min-height: 60px; 
}

.menu_button
{
    display: none;
}
.bot_border
{
    border-bottom: solid;
    border-color: #826e65;
    border-width: 1px; 
}

a
{
    color: #ff9000;
}

.sub_text
{
    font-size: smaller;
    color: #adf442;
}

.card_body
{
    background-color: #efe6cb;
    border-radius: 5px;
    margin-left: 20px;
    margin-right: 20px;
}

.small_pad
{
    padding: 5px;
}

#scroll
{
    position:fixed;
    right:10px;
    bottom:10px;
    cursor:pointer;
    width:50px;
    height:50px;
    background-color:#adf442;
    text-indent:-9999px;
    display:none;
    -webkit-border-radius:60px;
    -moz-border-radius:60px;
    border-radius:60px
}

#scroll span
{
    position:absolute;
    top:50%;
    left:50%;
    margin-left:-8px;
    margin-top:-12px;
    height:0;
    width:0;
    border:8px solid transparent;
    border-bottom-color:#ffffff;
}

#scroll:hover
{
    background-color:#ff9000;
    opacity:1;filter:"alpha(opacity=100)";
    -ms-filter:"alpha(opacity=100)";
}